################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*/bin/Debug
*/obj/Debug
*.user
/packages
/.vs
